body {
	background-color: rgb(0, 0, 0);
}
.nav-img {
	width: 40px;
	margin-right: 10px;
}

hr {
	padding: 1px;
    background-color: rgb(17, 154, 218);
}

.img-qs {
	width: 25px;
	padding: 2px;
}

.card-body{
    background-color: rgb(109, 109, 109);
}

.card-text , .card-title{
    color: rgb(0, 0, 0);
}


.texto-qs{
    color: rgb(216, 216, 216);
}